.label_100px{width: 100px;}
.label_110px{width: 110px;}
.label_120px{width: 120px;}
.label_130px{width: 130px;}
.label_140px{width: 140px;}
.label_150px{width: 150px;}




/*标签颜色 样式*/

/*角色标签*/
.layui-bg-nobind{
    background-color: #668B8B!important;
}

/*评分 五角星*/
.layui-rate{
    padding: 0;
}

/*表格头部工具栏,底部分野，左对齐*/
.layui-table-tool,.layui-table-page{
    text-align: left;
}

.layui_table_width_99{
    width: 99%;
}
.layui_table_width_100{
    width: 100%;
}


/*调整显示小一号*/
.layui-table-view .layui-table td{
    font-size: 10px;
}
.layui-collapse{
    font-size: 10px;
}
.layui-colla-title{
    font-size: 10px;
}
/*重写按钮大小颜色*/
.layui-btn{
    font-size: 10px;
    background-color: #63B8FF;
    height: 28px;
    line-height: 28px;
}
/*重写内部子按钮danger*/
.layui-btn-danger {
    background-color: #FF5722;
}
/*重写内部子按钮高度*/
.layui-btn-xs {
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    font-size: 10px;
}
/*重写表单inline行间距*/
.layui-form-item .layui-inline{
    margin-bottom: 0;
}
.layui-form-item{
    margin-bottom: 5px;
}


.layui-table-view .layui-table td, .layui-table-view .layui-table th {
    padding: 2px 0;
}